In [2]:
import numpy as np
import pandas as pd

In [8]:
# Read in csv's
barrier_df = pd.read_csv("Horse_Data/barrier.csv")
comments_df = pd.read_csv("Horse_Data/comments.csv")
horse_info_df = pd.read_csv("Horse_Data/horse_info.csv")
results_df = pd.read_csv("Horse_Data/results.csv")
trackwork_df = pd.read_csv("Horse_Data/barrier.csv")

In [28]:
barrier_df.head()

,Unnamed: 0,plc,horse,jockey,trainer,draw,gear,lbw,runningpos,time,...,course,result,horse_ch,jockey_ch,trainer_ch,result_ch,comment_ch,going_ch,venue_ch,course_ch
0,0,5,A BEAUTIFUL(T421),B Prebble,W Y So,1.0,NaN,4-3/4L,7 7 5,0.57.93,...,TURF,Passed,喜得福 (T421),柏寶,蘇偉賢,及格,末段稍騎，反應不差,好地,沙田,草地
1,1,3,A BEAUTIFUL(T421),B Prebble,W Y So,6.0,NaN,5-3/4L,5 5 3,1.02.95,...,TURF,Passed,喜得福 (T421),柏寶,蘇偉賢,及格,"起步稍慢, 慳住追上",好地,沙田,草地
2,2,10,A BEAUTIFUL(T421),B Prebble,W Y So,10.0,NaN,3-1/4L,8 8 10,1.02.26,...,ALL WEATHER TRACK,Failed,喜得福 (T421),柏寶,蘇偉賢,不及格,"二百考驗, 反應普通",好地,沙田,全天候賽道
3,3,9,A BEAUTIFUL(T421),H N Wong,W Y So,1.0,H,10-3/4L,5 4 9,1.11.72,...,ALL WEATHER TRACK,NaN,喜得福 (T421),黃皓楠,蘇偉賢,NaN,"沿欄順走, 末段勁平",好地,沙田,全天候賽道
4,4,3,A BEAUTIFUL(T421),H W Lai,W Y So,4.0,B,2-1/4L,7 4 3,1.02.28,...,ALL WEATHER TRACK,Passed,喜得福 (T421),黎海榮,蘇偉賢,及格,"蝕位轉彎, 自動湧上",好地,沙田,全天候賽道

In [31]:
list(barrier_df)

['Unnamed: 0',
 'plc',
 'horse',
 'jockey',
 'trainer',
 'draw',
 'gear',
 'lbw',
 'runningpos',
 'time',
 'comment',
 'date',
 'distance',
 'going',
 'raceno',
 'venue',
 'course',
 'result',
 'horse_ch',
 'jockey_ch',
 'trainer_ch',
 'result_ch',
 'comment_ch',
 'going_ch',
 'venue_ch',
 'course_ch']

In [10]:
comments_df.head()

,Unnamed: 0,date,raceno,plc,horseno,gear,comment,comment_ch
0,0,2015-06-03,1,11,1,B/H,"Ridden along from the middle gate, gained a sp...",自中檔出閘，受催策。對面直路早段佔取領放馬外側位置。四百米處在催策下墮退。（騎師被查詢此駒表...
1,1,2015-06-03,1,4,2,SR/TT,"Settled at the back from the widest gate, save...",自大外檔出閘，居後列。入直路時走內欄節省腳程。直路上走內疊，在催策下穩步上前。
2,2,2015-06-03,1,7,3,B2/TT,"Settled in last few from a poor draw, widest r...",自第八檔出閘，居最後數位。入直路時走最外疊，穩步上前。
3,3,2015-06-03,1,6,5,--,"Broke well, gradually taken back just off the ...",出閘迅速，逐漸留居領放馬稍後位置。入直路時保持相若位置，但直路上再無餘力。
4,4,2015-06-03,1,3,6,--,"Broke well before settling in midfield, switch...",出閘迅速，居中間位置。入直路時移出外疊取位，以佳勢上前，但未能構成威脅。

In [11]:
horse_info_df.head()

,Unnamed: 0,horse,country,trainer,colour,sex,owner,import_type,current_rating,start_rating,sire,dam,age
0,0,()(S259),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,(C368),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,A BEAUTIFUL(T421),AUS,W Y So,Bay,Gelding,Sandia Yit Lau Ying Lam & Yit Kwok Leung,PP,64.0,58.0,Bushranger,Anfield,6.0
3,3,A FAST ONE(S424),AUS,D E Ferraris,Bay,Gelding,Samson Yip Yan Tion & David Vrijmoed,PPG,37.0,40.0,Holy Roman Emperor,Detail,6.0
4,4,A SHIN HIKARI(V614),JPN,NaN,Grey,Horse,Eishindo Co Ltd,VIS,NaN,NaN,Deep Impact,Catalina,NaN

In [32]:
list(horse_info_df)

['Unnamed: 0',
 'horse',
 'country',
 'trainer',
 'colour',
 'sex',
 'owner',
 'import_type',
 'current_rating',
 'start_rating',
 'sire',
 'dam',
 'age']

In [12]:
results_df.head()

,Unnamed: 0,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,...,stake,venue,horse_ch,jockey_ch,trainer_ch,class_ch,going_ch,handicap_ch,course_ch,venue_ch
0,0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,...,575000,Happy Valley,威百利(S243),何澤堯,方嘉柏,1,好地至快地,畢拿山讓賽,草地 - A 賽道,跑馬地
1,1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,...,760000,Sha Tin,太陽喜喜(T242),柏寶,賀賢,1,好地至快地,香港大學基金讓賽,草地 - A+3 賽道,沙田
2,2,0,1,3.0,GRAN BOLIVAR(S165),H N Wong,Y S Tsui,121.0,950.0,9.0,...,760000,Happy Valley,王將(S165),黃皓楠,徐雨石,1,好地至快地,麗安讓賽,草地 - B 賽道,跑馬地
3,3,0,1,11.0,PEOPLE'S KNIGHT(T305),G Mosse,J Moore,120.0,1149.0,4.0,...,800000,Sha Tin,人民武士(T305),巫斯義,約翰摩亞,1,好地至快地,ＢＲＥＧＵＥＴ平磅賽,草地 - B+2 賽道,沙田
4,4,0,1,2.0,SIR JOHN(P344),B Prebble,W Y So,131.0,1158.0,10.0,...,575000,Happy Valley,至尊駿爵(P344),柏寶,蘇偉賢,1,好地至快地,宏德讓賽,草地 - C 賽道,跑馬地

In [13]:
trackwork_df.head()

,Unnamed: 0,plc,horse,jockey,trainer,draw,gear,lbw,runningpos,time,...,course,result,horse_ch,jockey_ch,trainer_ch,result_ch,comment_ch,going_ch,venue_ch,course_ch
0,0,5,A BEAUTIFUL(T421),B Prebble,W Y So,1.0,NaN,4-3/4L,7 7 5,0.57.93,...,TURF,Passed,喜得福 (T421),柏寶,蘇偉賢,及格,末段稍騎，反應不差,好地,沙田,草地
1,1,3,A BEAUTIFUL(T421),B Prebble,W Y So,6.0,NaN,5-3/4L,5 5 3,1.02.95,...,TURF,Passed,喜得福 (T421),柏寶,蘇偉賢,及格,"起步稍慢, 慳住追上",好地,沙田,草地
2,2,10,A BEAUTIFUL(T421),B Prebble,W Y So,10.0,NaN,3-1/4L,8 8 10,1.02.26,...,ALL WEATHER TRACK,Failed,喜得福 (T421),柏寶,蘇偉賢,不及格,"二百考驗, 反應普通",好地,沙田,全天候賽道
3,3,9,A BEAUTIFUL(T421),H N Wong,W Y So,1.0,H,10-3/4L,5 4 9,1.11.72,...,ALL WEATHER TRACK,NaN,喜得福 (T421),黃皓楠,蘇偉賢,NaN,"沿欄順走, 末段勁平",好地,沙田,全天候賽道
4,4,3,A BEAUTIFUL(T421),H W Lai,W Y So,4.0,B,2-1/4L,7 4 3,1.02.28,...,ALL WEATHER TRACK,Passed,喜得福 (T421),黎海榮,蘇偉賢,及格,"蝕位轉彎, 自動湧上",好地,沙田,全天候賽道

In [18]:
barrier_df.shape

(9219, 26)

In [19]:
comments_df.shape

(21164, 8)

In [20]:
horse_info_df.shape

(3940, 13)

In [17]:
results_df.shape

(14212, 31)

In [21]:
trackwork_df.shape

(9219, 26)

In [29]:
bar_Hinfo_merge = pd.merge(barrier_df, horse_info_df, how="left",on="horse")
bar_Hinfo_merge.shape

(9219, 38)

In [33]:
list(bar_Hinfo_merge)

['Unnamed: 0_x',
 'plc',
 'horse',
 'jockey',
 'trainer_x',
 'draw',
 'gear',
 'lbw',
 'runningpos',
 'time',
 'comment',
 'date',
 'distance',
 'going',
 'raceno',
 'venue',
 'course',
 'result',
 'horse_ch',
 'jockey_ch',
 'trainer_ch',
 'result_ch',
 'comment_ch',
 'going_ch',
 'venue_ch',
 'course_ch',
 'Unnamed: 0_y',
 'country',
 'trainer_y',
 'colour',
 'sex',
 'owner',
 'import_type',
 'current_rating',
 'start_rating',
 'sire',
 'dam',
 'age']

In [42]:
bar_Hinfo_col_drop = bar_Hinfo_merge.drop(['Unnamed: 0_x','horse_ch',
                                           'jockey_ch','trainer_ch',
                                           'result_ch','comment_ch',
                                           'going_ch','venue_ch',
                                           'course_ch','Unnamed: 0_y'], axis=1)
bar_Hinfo_col_drop.shape

(9219, 28)

In [46]:
first_three_dfs = pd.merge(results_df, bar_Hinfo_col_drop, how="left", on="horse")
first_three_dfs.shape

(78531, 58)

In [49]:
first_three_dfs.head()

,Unnamed: 0,row,plc_x,horseno,horse,jockey_x,trainer,actualwt,declarwt,draw_x,...,trainer_y,colour,sex,owner,import_type,current_rating,start_rating,sire,dam,age
0,0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,...,D J Hall,Bay,Gelding,Hui Leung Wah & Hui Chun Yuen,PPG,93.0,90.0,Churchill Downs,Miss Tabitha,6.0
2,1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,...,D J Hall,Bay,Gelding,Hui Leung Wah & Hui Chun Yuen,PPG,93.0,90.0,Churchill Downs,Miss Tabitha,6.0
3,1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,...,D J Hall,Bay,Gelding,Hui Leung Wah & Hui Chun Yuen,PPG,93.0,90.0,Churchill Downs,Miss Tabitha,6.0
4,1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,...,D J Hall,Bay,Gelding,Hui Leung Wah & Hui Chun Yuen,PPG,93.0,90.0,Churchill Downs,Miss Tabitha,6.0

In [50]:
first_three_dfs.columns.values

array(['Unnamed: 0', 'row', 'plc_x', 'horseno', 'horse', 'jockey_x',
       'trainer', 'actualwt', 'declarwt', 'draw_x', 'lbw_x',
       'runningpos_x', 'finishtime', 'winodds', 'date_x', 'raceno_x',
       'class', 'distance_x', 'going_x', 'handicap', 'course_x', 'stake',
       'venue_x', 'horse_ch', 'jockey_ch', 'trainer_ch', 'class_ch',
       'going_ch', 'handicap_ch', 'course_ch', 'venue_ch', 'plc_y',
       'jockey_y', 'trainer_x', 'draw_y', 'gear', 'lbw_y', 'runningpos_y',
       'time', 'comment', 'date_y', 'distance_y', 'going_y', 'raceno_y',
       'venue_y', 'course_y', 'result', 'country', 'trainer_y', 'colour',
       'sex', 'owner', 'import_type', 'current_rating', 'start_rating',
       'sire', 'dam', 'age'], dtype=object)

In [52]:
first_three_dfs['jockey_x'].equals(first_three_dfs['jockey_y'])

False